"torch>=22"
"numpy>=126<20"
"hydra-core==132"
"pytorch-lightning==250"
"rdkit>=202432"
"dm-tree==018"
"requests==2323"
"pandas>=222"
"types-requests"
"einops==080"
"einx==030"
"fairscale==0413"
"mashumaro==314"
"modelcif==12"
"wandb==0187"
"click==817"
"pyyaml==602"
"biopython==184"
"scipy==1131"
"numba==0610"
"gemmi==065"
"scikit-learn==161"
"chembl_structure_pipeline==122"